/CL.read.1.tlog
/CL.write.1.tlog
/bio.obj
/cio.obj
/cl.command.1.tlog
/h265_parser.exe
/h265_parser.ilk
/h265_parser.lastbuildstate
/h265_parser.log
/h265_parser.obj
/h265_parser.pdb
/link-cvtres.read.1.tlog
/link-cvtres.write.1.tlog
/link-rc.read.1.tlog
/link-rc.write.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/nal_aud.obj
/nal_common.obj
/nal_pps.obj
/nal_sei.obj
/nal_sps.obj
/nal_vps.obj
/vc110.idb
/vc110.pdb
